---
layout: post
title: Rails with Vue Tutorials
custom_excerpt: >-
  Here is a short series of guides for using Vue with a primarily Rails-based application.
  They cover everything from the creation of a new app and installation of Vue through to
  having an inline, validated, editable table for your model.
chapter_index: true
---

<p class="i pb3">{{ page.custom_excerpt }}</p>

<p class="i pb3">
  A GitHub repository exists following these tutorials with tags at each chapter
  - if you want to skip ahead to a specific chapter, you can just pull whichever
  version of the code you need.
</p>

<p class="i pb5">
  That repo can be found
  <a href="https://github.com/delete-44/vue-test-app/tree/chp-1">here</a>.
</p>

{% for post in site.rails-with-vue %} {% include post-card.html %} {% endfor %}
