<p class='pt2'>
  {{ portfolio-piece.introduction }}
</p>

<div class='w-100-ns mb2 center flex-ns justify-between-ns pa-1 flex-flip-{{ include.flipper }}-ns'>
  <div class='w-40-ns dib w-100 pa2'>
    {% if portfolio-piece.link %}
      <a href='{{ portfolio-piece.link }}'>
        <p class='secondary link hover-secondary-dark dib-ns'> {{ portfolio-piece.title }} </p>
      </a>
    {% else %}
      <p class='secondary dib-ns'> {{ portfolio-piece.title }} </p>
    {% endif %}

    <p>
      {{ portfolio-piece.summary }}
    </p>
  </div>

  <div class='w-50-ns'>
    {% if portfolio-piece.link %}
      <a href='{{ portfolio-piece.link }}' class='link'>
        <img src='{{ portfolio-piece.image }}' title='{{ portfolio-piece.title }}' alt='{{ portfolio-piece.alt }}'class='h-90-ns w-100' />
      </a>
    {% else %}
      <img src='{{ portfolio-piece.image }}' title='{{ portfolio-piece.title }}' alt='{{ portfolio-piece.alt }}'class='h-90-ns w-100' />
    {% endif %}

    {% if portfolio-piece.image-credits %}
      <p class='subtle h-10-ns dn db-ns tc mt0'>{{ portfolio-piece.image-credits }}</p>
    {% endif %}
  </div>
</div>
