<div class='w-100-ns mb2 pa2 bb b--primary center'>
    <a href='{{ post.url }}' class='link fl mh2 mv1 dib-ns dn'>
        <img src='{{ post.image }}' class='br-100 h3 w3' title='{{ post.title }}' alt='{{ post.title }}'>
    </a>
    <div class='dib mt2'>
        <a href="{{ post.url }}" class='f4'>
            {{ post.title }}
        </a>
        {% if post.date %}
            <p class='subtle dib-ns db ph2-ns f7 mv0-ns mb0'>
                {{ post.date | date: site.date-format }}
            </p>
        {% endif %}

        <div class='primary mv0 f5 db-ns dn'>
          <p>
            {% if post.custom_excerpt %}
              {{ post.custom_excerpt }}&hellip;
            {% else %}
              {% assign excerpt = post.content | split:'.' | first %}
              {{ excerpt }}&hellip;
            {% endif %}
          </p>
        </div>
    </div>
    <a class="f3 ph1 dn-ns fr mt2" href="{{ post.url }}">
      <i class="fas fa-arrow-circle-right"></i>
    </a>
</div>
