<div class='w-90-ns w-100 mb2 pa2 bb b--primary center flex items-center justify-between justify-center-ns'>
  <a href='{{ post.url }}' class='link fl ml2 mr4 dib-ns dn'>
    <img src='{{ post.image }}' class='br-100 h3 w3' title='{{ post.title }}' alt='{{ post.title }}'>
  </a>

  <div class='dib w-70-ns'>
    <div class='mv0'>
      <a href='{{ post.url }}' class='f4 mb0'>
        {{ post.title }}
      </a>

      {% if post.date %}
        <p class='subtle dib-ns db ph2-ns f7 mv0-ns mb0'>
          {{ post.date | date: site.date-format }}
        </p>
      {% endif %}
    </div>

    <div class='mv0 db-ns dn'>
      {% if post.custom_excerpt %}
        {{ post.custom_excerpt }}
      {% else %}
        {% assign excerpt = post.content | split:'.' | first %}
        {{ excerpt }}&hellip;
      {% endif %}
    </div>
  </div>

  <a class='f3 ph1 dn-ns fr mt2' href='{{ post.url }}'>
    <i class='fas fa-arrow-circle-right'></i>
  </a>
</div>
