<div class='w-90-ns w-100 mb2 pa2 bb b--primary center flex items-center justify-between justify-around-ns'>
  {% if post.image %}
    <a href='{{ post.url }}' class='link fl ml2 mr4 dib-ns dn'>
      <img src='{{ post.thumbnail }}' class='br-100 h3 w3' title='{{ post.title }}' alt='{{ post.title }}'>
    </a>

    {% assign width=80 %}
  {% else %}
    {% assign width=100 %}
  {% endif %}

  {% include post_excerpt.html width=width %}

  <a class='f3 ph1 dn-ns fr mt2' href='{{ post.url }}'>
    <i class='fas fa-arrow-circle-right'></i>
  </a>
</div>
