$primary : #424242; // Text content
$secondary : #f5b342; // Accent colour
$tertiary : #fffbee; // Site background
$quarternary : #1F2232; // Footer background

$subtle : #b3b3b3;
$secondary-dark : darken($secondary, 20%);

$base-font : 'Open Sans', sans-serif;

// Sitewide defaults
html { 
  font-family: $base-font;
  scroll-behavior: smooth;
}

// Text defaults
p {
  color: $primary;
}

// Link defaults - link secondary hover-secondary-darken
a {
  text-decoration: none;
  transition: color .15s ease-in;
  color: $secondary;
  &:focus {
    outline: 1px dotted currentColor;
  }
  &:hover, &:focus {
    color: $secondary-dark;
  }
  &:link, &:visited, &:hover, &:active, &:focus {
    transition: color .15s ease-in;
  }
}

// Header defaults for styling MD
h1, h2, h3 { color: $secondary; }
h4 { color: $subtle; }

// Default colours
.primary { color: $primary }
.secondary { color: $secondary }
.tertiary { color: $tertiary }
.quarternary { color: $quarternary }

//Additional colours
.subtle { color: $subtle }

// Background colours
.bgp { background-color: $primary }
.bgs { background-color: $secondary }
.bgt { background-color: $tertiary }
.bgq { background-color: $quarternary }

// Border colours
.b--primary { border-color: $primary }
.b--secondary { border-color: $secondary}
.b--tertiary { border-color: $tertiary }
.b--quarternary { border-color: $quarternary }

@media screen and (min-width: 30em) {
  body { line-height: 1.6; }
  // Background colours for large screens
  .bgp-ns { background-color: $primary }
  .bgs-ns { background-color: $secondary }
  .bgt-ns { background-color: $tertiary }
  .bgq-ns { background-color: $quarternary }

  .top-50-ns { top: 50% }
  .vc-ns { transform: translateY(-50%) }

  // Border colours for large screens
  .b--primary-ns { border-color: $primary }
  .b--secondary-ns { border-color: $secondary}
  .b--tertiary-ns { border-color: $tertiary }
  .b--quarternary-ns { border-color: $quarternary }

  // Reverse orientation of items every flip
  .flex-flip-0-ns {
    flex-direction: row;
    text-align: end;
  }

  .flex-flip-1-ns{
    flex-direction: row-reverse;
  }

  // Copyright information for images
  .owned-image {
    transition: .15s;

    &:hover {
    filter: brightness(50%);
    transition: filter .15s ease-in;
    }
  }

  .copyright-text {
    position: absolute;
    display: none;
  }

  .owned-image:hover + .copyright-text {
    display: block;
  }
}

.hover-primary:focus,
.hover-primary:hover {
  color: $primary;
}

.hover-secondary:focus,
.hover-secondary:hover {
  color: $secondary;
}

.hover-tertiary:focus,
.hover-tertiary:hover {
  color: $tertiary;
}

.hover-secondary-dark:focus,
.hover-secondary-dark:hover {
  color: $secondary-dark;
}

.anchor-link {
  transition: .15s;
}

.active-anchor-link {
  border-color: $secondary;
  width: 10rem !important;
  transition: width .15s ease-in;
}
