// $primary : #596475;     // Text content
// $secondary : #FDE8E9;   // Header bg
// $tertiary : #C8AFCC;    // Site bg
// $quarternary : #1F2232; // Footer bg

$primary : #FDE8E9;
$secondary : rgb(107, 96, 109);
$tertiary : #434b55;
$quarternary : #1F2232;

$primary-dark : darken($primary, 10%);
$subtle : #b3b3b3;

$base-font : 'Open Sans', sans-serif;

// Sitewide defaults
html { 
  font-family: $base-font;
  color: $primary;
}

// Default colours
.primary { color: $primary }
.secondary { color: $secondary }
.tertiary { color: $tertiary }
.quarternary { color: $quarternary }

//Additional colours
.primary-dark { color: $primary-dark }
.subtle { color: $subtle }

// Background colours
.bgp { background-color: $primary }
.bgs { background-color: $secondary }
.bgt { background-color: $tertiary }
.bgq { background-color: $quarternary }

.b--primary { border-color: $primary }
.b--secondary{ border-color: $secondary}
.b--tertiary { border-color: $tertiary }
.b--quarternary { border-color: $quarternary }

.hover-darken:focus,
.hover-darken:hover {
  color: $primary-dark;
  border-color: $primary-dark;
}

.hover-lighten:focus,
.hover-lighten:hover {
  color: $primary;
}

// Vertical center (hero images in post template)
.vc {
  top: 50%;
  transform: translateY(+100%);
}
