---
label: Education
show_label: true
priority: 5
---
<table class='w-100'>
    <tr>
        <th>Qualification</th>
        <th>Subject</th>
        <th>Grade</th>
    </tr>
    {% for education_level in site.data.education %}
        {% if site.data.education_config[education_level.first].condense %}
            <tr></tr>
        {% else %}
            {% for qualification in education_level[1] %}
                {% include table-row.html show_label = forloop.first %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</table>
